
body {
  padding-top: 60px;
  padding-bottom: 300px;
}

img.logo { max-width: 100%; }

.border-top {
  border-top: 1.5px solid black;
  margin-top: 60px;
  padding-top: 60px;
}

#carousel-example-generic {
  height: 555px;
  max-height: auto;
  height: 700px;
}

p.caption {
  width: 75%;
  margin: 1em auto;
}

#form6 div {
  margin-bottom: 30px;
}

#form6 div > label {
  display: block;
}

#form6 div > input,
#form6 div textarea {
  width: 100%;
}

#form6 div > span {
  float: left;
  width: 47.5%;
}

#form6 div > span.gutter   {
  margin-right: 5%;
}

#form6 div > span input {
  display: inline-block;
  width: 100%;
}

span > label,
span.req,
form small {
  color: #B9BAB8;
  font-weight: normal;
}

.clear {display:block;clear: both;}


/* Slideshow
   ============= */

ul.insta-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  width: 640px;
  height: 640px;
}

ul.insta-list li {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 640px;
  width:640px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;

  &.active {
    z-index: 10;
    opacity: 1;
  }
}

ul.insta-list li p {
  display: none;
}

ul.insta-list li:hover p {
  display: block;
  background: rgba(255,255,255,0.9);
  margin: 0;
  padding: 1em;
  width:100%;
  position: absolute;
  z-index: 11;
  bottom: 0;
  left:0;
  right:0;
}

/* Footer
   =========== */

footer {
  border-top: 1px solid black;
  margin-top: 5rem;
  padding-top: 2rem;
}

